<h1>Space + NgRx</h1>

<section>
  <div class="sel-criteria selector-area">
    <app-select-criteria (changedCriteria)="setCriteria($event)"></app-select-criteria>
    <div>Criterio seleccionado: {{criteria}}</div>
  </div>
  <hr/>
  <div class="sel-value selector-area">
    <app-select-value [options]="valuesHolder" (valueChosen)="setValue($event)"></app-select-value>
    <div>Valor seleccionado: {{value?.name}}</div>
  </div>
  <hr/>
  <div class="filtered-missions results-area">
    <app-missions-viewer [sources]="missions" [criteria]="criteria" [value]="value"></app-missions-viewer>
  </div>
</section>
